<div class="container-fluid" *ngIf="bag">
  <div class="row">
    <div class="col-md-4">
      {{bag.title}}
    </div>
    <div class="col-md-8">
      <!-- TAB NAVIGATION -->
      <ul class="nav nav-tabs" role="tablist">
        <li class="active">
          <a href="#tab1" role="tab" data-toggle="tab">Description</a>
        </li>
      </ul>
      <!-- TAB CONTENT -->
      <div class="tab-content">
        <div class="active tab-pane fade in" id="tab1">
          <h2>Product Description</h2>
          {{bag.description}}
        </div>
      </div>
    </div>
  </div>
</div>
