<form (ngSubmit)="onSubmit()" #filterForm>

  <div *ngIf="filter">
    <div *ngIf="marks" class="filter-container">
      <strong>MARK</strong>
      <div class="checkbox" *ngFor="let mark of marks; let i = index">
        <label>
          <input type="checkbox" [value]="mark.id"  (change)="submit(filterForm)" name="filter[marks][{{i}}]" #markInput>
          {{mark.title}}
        </label>
      </div>
      {{filter.marks}}
    </div>
    <hr>
    <div *ngIf="colors" class="filter-container">
      <strong>COLOR</strong>
      <div class="checkbox" *ngFor="let color of colors; let i = index">
        <label>
          <input type="checkbox" [value]="color.id" (change)="submit(filterForm)" name="filter[colors][{{i}}]"> {{color.title}}
        </label>
      </div>
    </div>
    <hr>
    <div *ngIf="materials" class="filter-container">
      <strong>MATERIAL</strong>
      <div class="checkbox" *ngFor="let material of materials;let i = index">
        <label>
          <input type="checkbox" [value]="material.id" (change)="submit(filterForm)" name="filter[materials][{{i}}]"> {{material.title}}
        </label>
      </div>
    </div>
  </div>
</form>
